.mainh{
  background-color: aquamarine;
}
.cont{
    color:black;
    overflow: auto;
}
.brand{
    font-size: 30px;
  display: block;
  padding: 8px;
  text-decoration: none;
}
.firstli{
    margin-left: 1200px;
    float: left;
  list-style-type: none;
}
li {
    margin-left: 25px;
  float: left;
  list-style-type: none;
  margin-bottom: 8px;
}

a {
    font-size: 30px;
  display: block;
  padding: 8px;
  text-decoration: none;
  color:blueviolet;

}
ul{
  margin-top:12px;
}